:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}

body {
  margin: 0;
  color: #333;
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
